h1{
    color: red;
}
h2{
    color:aqua;
}
h3{
    color: blueviolet;
}
h4{
    color: green;
}
h5{
    color: yellow;
}
h6{
    color: orange;
}
img{
    width: 100px;
    height: 100px;
    border-radius:50%;
}